# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
name: nupic.research
channels:
  - defaults
  - conda-forge
  - pytorch
  - fastai

dependencies:
  - python=3.7
  - pip

  # See nupic.torch requirements.txt
  - pytorch=1.3.0

  # See requirements.txt
  - awscli
  - boto3
  - elasticsearch
  - fastai
  - jupyter
  - librosa=0.7.1
  - matplotlib
  - numpy
  - pandas
  - pillow==6.0.0
  - python-dotenv
  - requests
  - scikit-image
  - seaborn
  - tabulate
  - torchvision
  - tqdm

  # ray[debug,dashboard]
  - aiohttp
  - psutil
  - setproctitle

  # See requirements-dev.txt
  - black=19.3b0
  - flake8=3.7.8
  - flake8-black=0.1.1
  - flake8-bugbear=19.8.0
  - flake8-builtins=1.4.1
  - flake8-comprehensions=2.2.0
  - flake8-copyright=0.2.2
  - flake8-mutable=1.2.0
  - flake8-print=3.1.0
  - flake8-quotes=2.1.0
  - isort=4.3.21
  - pep8-naming=0.8.2
  - pytest=5.2.1
  - pytest-runner=5.1

  # Dependencies not available in conda
  - pip:
      - ray[debug,dashboard]==0.7.5

      # See nupic.tensorflow requirements.txt
      - tensorflow==1.14.0

      # See requirements-dev.txt
      - docformatter==1.3
      - flake8-breakpoint==1.1.0
      - flake8-fixme==1.1.1
      - flake8-isort==2.7.0
      - flake8-mypy==17.8.0

      # Install nupic.torch and  nupic.tensorflow libraries in develop mode.
      # Assume both libraries were cloned into ${HOME}/nta folder
      # If you don't want to install nupic.torch and nupic.tensorflow in develop
      # mode just comment the following lines and use the versions indicated in
      # the requirements.txt file
      - -e ${HOME}/nta/nupic.torch --no-binary :all
      - -e ${HOME}/nta/nupic.tensorflow --no-binary :all

      # Install nupic.research in develop mode
      - -e . --no-binary :all

