# ------------------------------------------------------------------------------
#  Numenta Platform for Intelligent Computing (NuPIC)
#  Copyright (C) 2021, Numenta, Inc.  Unless you have an agreement
#  with Numenta, Inc., for a separate license for this software code, the
#  following terms and conditions apply:
#
#  This program is free software: you can redistribute it and/or modify
#  it under the terms of the GNU Affero Public License version 3 as
#  published by the Free Software Foundation.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#  See the GNU Affero Public License for more details.
#
#  You should have received a copy of the GNU Affero Public License
#  along with this program.  If not, see http://www.gnu.org/licenses.
#
#  http://numenta.org/licenses/
#
# ------------------------------------------------------------------------------
# Run pip install -r requirements.txt to reproduce the currently tested environment
# Last update: 3/29/2021

datasets>=1.6.1,<1.7.0
torch>=1.8.1,<1.9.0
wandb>=0.10.27,<0.11.0 # this can be updated in a future version of transformers, for now 0.11.1, seems to not log properly with the transformers repo
cloudpickle>=1.6.0
pickle5>=0.0.11
ray==1.4.0  # required to use Ray Tune
transformers==4.8.1
