# ----------------------------------------------------------------------
# Numenta Platform for Intelligent Computing (NuPIC)
# Copyright (C) 2019, Numenta, Inc.  Unless you have an agreement
# with Numenta, Inc., for a separate license for this software code, the
# following terms and conditions apply:
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero Public License version 3 as
# published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU Affero Public License for more details.
#
# You should have received a copy of the GNU Affero Public License
# along with this program.  If not, see http://www.gnu.org/licenses.
#
# http://numenta.org/licenses/
# ----------------------------------------------------------------------

version: 2

jobs:
  checkout_code:
    # Checkout the code from github caching LFS files separately
    working_directory: ~/nta/nupic.research
    docker:
      - image: cimg/base:stable
    environment:
      - GIT_LFS_SKIP_SMUDGE: 1
    steps:
      - checkout

      # Cache git-lfs installation
      - restore_cache:
          key: git-lfs-bin-v1-key
      - run:
          name: Install git-lfs
          command: >
            test -f ~/bin/git-lfs || (
            curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | sudo bash;
            sudo apt-get install git-lfs;
            mkdir ~/bin; sudo mv /usr/bin/git-lfs ~/bin/git-lfs;)
      - save_cache:
          key: git-lfs-bin-v1-key
          paths:
            - ~/bin/git-lfs

      # Cache git-lfs files
      - run: git lfs install
      - run: git lfs ls-files -l | cut -d' ' -f1 | sort > git-lfs.sha
      - restore_cache:
          key: git-lfs-files-v1-key-{{ checksum "git-lfs.sha" }}
      - run: git lfs pull
      - save_cache:
          key: git-lfs-files-v1-key-{{ checksum "git-lfs.sha" }}
          paths:
            -  ~/nta/nupic.research/.git/lfs

      # Save current workspace for other steps
      - persist_to_workspace:
          root: ~/nta
          paths: nupic.research

  validate_contributor:
    working_directory: ~/nta/nupic.research
    docker:
      - image: cimg/base:stable
    steps:
      - attach_workspace:
          at: ~/nta
      - run:
          name: Validate contributor license
          command: ci/validate-contributor.sh

  install_dependencies:
    working_directory: ~/nta/nupic.research
    docker:
      - image: circleci/python:3.7
    steps:
      - attach_workspace:
          at: ~/nta
      - run:
          name: Get nupic.torch and nupic.tensorflow latest SHA
          command: |
            git ls-remote git://github.com/numenta/nupic.torch.git HEAD > nupic.torch.sha
            git ls-remote git://github.com/numenta/nupic.tensorflow.git HEAD > nupic.tensorflow.sha
      - restore_cache:
          key: pip-cache-v1-{{ arch }}-{{ checksum "nupic.torch.sha" }}-{{ checksum "nupic.tensorflow.sha" }}-{{ checksum "requirements.txt" }}-{{ checksum "requirements-dev.txt" }}
      - run: pip install --user flake8-formatter-junit-xml
      - run: pip install --user git+https://github.com/numenta/nupic.tensorflow.git#egg=nupic.tensorflow
      - run: pip install --user git+https://github.com/numenta/nupic.torch.git#egg=nupic.torch
      - run: pip install --user -r requirements.txt
      - run: pip install --user -r requirements-dev.txt
      - run: python setup.py develop --user
      - save_cache:
          key: pip-cache-v1-{{ arch }}-{{ checksum "nupic.torch.sha" }}-{{ checksum "nupic.tensorflow.sha" }}-{{ checksum "requirements.txt" }}-{{ checksum "requirements-dev.txt" }}
          paths:
            - ~/.local
      - persist_to_workspace:
          root: ~/nta
          paths: nupic.research

  check_style:
    working_directory: ~/nta/nupic.research
    docker:
      - image: circleci/python:3.7
    steps:
      - attach_workspace:
          at: ~/nta
      - restore_cache:
          key: pip-cache-v1-{{ arch }}-{{ checksum "nupic.torch.sha" }}-{{ checksum "nupic.tensorflow.sha" }}-{{ checksum "requirements.txt" }}-{{ checksum "requirements-dev.txt" }}
      - run:
          name: Check Style
          command: |
            mkdir -p test_results/flake8
            ~/.local/bin/flake8 --show-source --format junit-xml --output-file test_results/flake8/results.xml nupic tests projects
      - store_test_results:
          path: test_results

  test:
    working_directory: ~/nta/nupic.research
    docker:
      - image: circleci/python:3.7
    steps:
      - attach_workspace:
          at: ~/nta
      - restore_cache:
          key: pip-cache-v1-{{ arch }}-{{ checksum "nupic.torch.sha" }}-{{ checksum "nupic.tensorflow.sha" }}-{{ checksum "requirements.txt" }}-{{ checksum "requirements-dev.txt" }}
      - run:
          name: Run python tests
          environment:
            PYTEST_ADDOPTS: --junitxml=test_results/pytest/results.xml --verbose
          command: |
            mkdir -p test_results/pytest
            pytest
      - store_test_results:
          path: test_results

  build:
    working_directory: ~/nta/nupic.research
    docker:
      - image: circleci/python:3.7
    steps:
      - attach_workspace:
          at: ~/nta
      - restore_cache:
          key: pip-cache-v1-{{ arch }}-{{ checksum "nupic.torch.sha" }}-{{ checksum "nupic.tensorflow.sha" }}-{{ checksum "requirements.txt" }}-{{ checksum "requirements-dev.txt" }}
      - run:
          name: Build wheel
          environment:
            VERBOSE: 1
          command: python setup.py bdist_wheel
      - store_artifacts:
          path: dist


workflows:
  version: 2

  validate-build-test:
    jobs:
      - checkout_code
      - validate_contributor:
          requires:
            - checkout_code
      - install_dependencies:
          requires:
            - validate_contributor
      - check_style:
          requires:
            - install_dependencies
      - test:
          requires:
            - install_dependencies
      - build:
          requires:
            - check_style
            - test
